.textBox {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin: 100px auto;
}.toolbar-button {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}
.toolbar-button .toolbar-button-tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
  color: #ffffff;
  padding: 2px;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.3s;
}
.toolbar-button .toolbar-button-tooltip-inactive {
  opacity: 0;
  top: 0%;
}
.toolbar-button .toolbar-button-tooltip-active {
  opacity: 1;
  top: -80%;
}
.toolbar-button .toolbar-button-icon {
  width: 100%;
  height: 100%;
}.richText-toolbar {
  display: flex;
  align-items: center;
}.richText-editor {
  width: 100%;
  height: 100%;
}